{% extends 'overall/layout' %}
{% block appBody %}
    <form role="form" id="planes_form">
        <input type="hidden" name="test" value="1" />
        <button type="button" id="planes">¡Probar!</button>
    </form>
{% endblock %}
{% block appFooter %}
    <script src="./assets/jscontrollers/planes/planes.js"></script>
{% endblock %}