<div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu">
            <li class="site-menu-category">Administración</li>
            <li class="site-menu-item {% if c == 'dashboard' %}active{% endif %}">
              <a class="animsition-link" href="dashboard/">
                <i class="site-menu-icon md-home" aria-hidden="true"></i>
                <span class="site-menu-title">Escritorio</span>
              </a>
            </li>
            <li class="site-menu-item has-sub {% if c in ['planes', 'categorias', 'features', 'habextras', 'tipos'] %}active open{% endif %}">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-building" aria-hidden="true"></i>
                <span class="site-menu-title">Elementos en Hoteles</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="planes/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-diamond" aria-hidden="true"></i> Planes de Alojamiento</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="categorias/">
                    <span class="site-menu-title"><i class="site-menu-icon md-layers" aria-hidden="true"></i> Categorías</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="features/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-tags" aria-hidden="true"></i> Ameninties</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="habextras/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-hotel" aria-hidden="true"></i> Extras Habitaciones</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="tipos/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-briefcase" aria-hidden="true"></i> Tipos de alojamiento</span>
                  </a>
                </li>
              </ul>
            </li>


            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-map" aria-hidden="true"></i>
                <span class="site-menu-title">Elementos en Tours</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-tags" aria-hidden="true"></i> Características a incluir</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-briefcase" aria-hidden="true"></i> Tipos de Tours</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-check" aria-hidden="true"></i> Selectivos</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-clock-o" aria-hidden="true"></i> Duraciones</span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-menu-item has-sub {% if c in ['atraccionfeatures', 'atracciontipos', 'atraccionselectivos', 'atraccionesduraciones'] %}active open{% endif %}">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-child" aria-hidden="true"></i>
                <span class="site-menu-title">Elementos Atracciones</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="atraccionfeatures/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-tags" aria-hidden="true"></i> Características a incluir</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="atracciontipos/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-briefcase" aria-hidden="true"></i> Tipos de Atracciones</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="atraccionselectivos/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-check" aria-hidden="true"></i> Selectivos</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="atraccionesduraciones/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-clock-o" aria-hidden="true"></i> Duraciones</span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-menu-item has-sub {% if c == 'admins' %}active open{% endif %}">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-lock" aria-hidden="true"></i>
                <span class="site-menu-title">Administradores</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="admins/crear/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-lock" aria-hidden="true"></i> Crear Admin</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="admins/">
                    <span class="site-menu-title"><i class="site-menu-icon fa fa-lock" aria-hidden="true"></i> Listado de Admins</span>
                  </a>
                </li>
              </ul>
            </li>


            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-users" aria-hidden="true"></i>
                <span class="site-menu-title">Clientes</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon wb-plus-circle" aria-hidden="true"></i> Crear Cliente</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon wb-list" aria-hidden="true"></i> Listado de Clientes</span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                <span class="site-menu-title">Freelancers</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon wb-plus-circle" aria-hidden="true"></i> Crear Freelancer</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon wb-list" aria-hidden="true"></i> Listado de Freelancers</span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-bank" aria-hidden="true"></i>
                <span class="site-menu-title">Agencias</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon wb-plus-circle" aria-hidden="true"></i>Crear Agencia</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="#">
                    <span class="site-menu-title"><i class="site-menu-icon wb-list" aria-hidden="true"></i>Listado de Agencias</span>
                  </a>
                </li>
              </ul>
            </li>


          </ul>
        </div>
      </div>
    </div>
  
  </div>